# Task 5 Bonus
### Laura Gagnon-Vos 09/15/2023

In [33]:
import pandas as pd

In [34]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'], ['Sue Brown', 'demo2@deitel.com', '5555551234']]
contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])

In [35]:
#unformatted phone numbers
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [36]:
import re

In [37]:
#reformat phone numbers
def get_formatted_phone(value): 
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [38]:
#reformatted phone numbers
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [39]:
#data frame with formatted phone numbers
contactsdf['Phone'] = formatted_phone
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234